.u-cls-1 {
    fill-rule: evenodd;
}

.u-cls-1, .u-cls-2 {
    fill: #d0b787;
}

.u-cls-3, .u-cls-4, .u-cls-5, .u-cls-6, .u-cls-7 {
    font-family: MyriadPro-Regular, 'Myriad Pro';
}

.u-cls-3, .u-cls-5, .u-cls-8, .u-cls-7 {
    fill: #003b4a;
}

.u-cls-3, .u-cls-7 {
    font-size: 8px;
}

.u-cls-9 {
    fill: #7daa2b;
}

.u-cls-10 {
    fill: #302c4b;
}

.u-cls-11 {
    stroke-width: 3px;
}

.u-cls-11, .u-cls-12, .u-cls-13, .u-cls-14, .u-cls-15, .u-cls-16, .u-cls-17 {
    stroke-miterlimit: 10;
}

.u-cls-11, .u-cls-12, .u-cls-15, .u-cls-17 {
    fill: none;
}

.u-cls-11, .u-cls-15, .u-cls-17 {
    stroke: #a9aaa9;
}

.u-cls-18, .u-cls-19, .u-cls-20, .u-cls-21 {
    fill: #fff;
}

.u-cls-22 {
    fill: #009b98;
}

.u-cls-12, .u-cls-13, .u-cls-14, .u-cls-16 {
    stroke: #fff;
}

.u-cls-23 {
    fill: #95785e;
}

.u-cls-4 {
    font-size: 2px;
}

.u-cls-4, .u-cls-24 {
    fill: #97201d;
}

.u-cls-25 {
    fill: #1b1514;
}

.u-cls-5 {
    font-size: 7.64px;
}

.u-cls-26 {
    letter-spacing: 0em;
}

.u-cls-27 {
    letter-spacing: .2em;
}

.u-cls-13, .u-cls-28 {
    fill: #877147;
}

.u-cls-29 {
    letter-spacing: .08em;
}

.u-cls-30, .u-cls-14 {
    fill: #f0807f;
}

.u-cls-31 {
    letter-spacing: 0em;
}

.u-cls-32 {
    letter-spacing: .18em;
}

.u-cls-33 {
    fill: #fecb48;
}

.u-cls-34 {
    letter-spacing: 0em;
}

.u-cls-35 {
    letter-spacing: .22em;
}

.u-cls-36 {
    letter-spacing: .21em;
}

.u-cls-37 {
    letter-spacing: .24em;
}

.u-cls-38 {
    letter-spacing: 0em;
}

.u-cls-39 {
    letter-spacing: .26em;
}

.u-cls-15 {
    stroke-width: 5px;
}

.u-cls-40 {
    letter-spacing: .22em;
}

.u-cls-41 {
    fill: #967a4e;
}

.u-cls-42 {
    letter-spacing: 0em;
}

.u-cls-43 {
    fill: url(#Degradado_sin_nombre_49);
}

.u-cls-19 {
    font-size: 2.76px;
}

.u-cls-19, .u-cls-20 {
    font-family: Cinzel-Bold, 'Cinzel Bold';
    font-weight: 700;
}

.u-cls-6 {
    fill: #be9a87;
    font-size: 1.75px;
}

.u-cls-44 {
    letter-spacing: .16em;
}

.u-cls-7 {
    letter-spacing: .2em;
}

.u-cls-45 {
    letter-spacing: .09em;
}

.u-cls-46 {
    letter-spacing: .08em;
}

.u-cls-47 {
    letter-spacing: .12em;
}

.u-cls-20 {
    font-size: 4.01px;
}

.u-cls-48 {
    letter-spacing: -.01em;
}

.u-cls-16 {
    fill: #0e787f;
    cursor: pointer;
}

.u-cls-17 {
    stroke-width: 4px;
}

.u-cls-49 {
    fill: #a72227;
}

.u-cls-50 {
    letter-spacing: .2em;
}

.u-cls-51 {
    letter-spacing: .22em;
}

.u-cls-52 {
    fill: #2c5089;
}

.u-cls-53 {
    fill: #a9aaa9;
}

.u-cls-54 {
    fill: #23847e;
}

.u-cls-55 {
    fill: #1d1d1b;
}

.u-cls-56 {
    fill: #f28a1c;
}

.u-cls-21 {
    font-family: Montserrat-Regular, 'Montserrat Regular';
    font-size: 2.53px;
}